body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient(#f6c8c7 58%, rgb(255, 215, 0));
}

#reposteria{
    background-color: aquamarine;
    flex-grow: 1;
}

.img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_1,
.image_2,
.image_3,
.image_4 {
    border: 2px solid blue;
    border-radius: 35px;
    width: 150px;
    height: 150px;
}
