body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient(#f6c8c7 58%, rgb(255, 215, 0));
}

#reposteria{
    display: flex;
    background-color: pink;
    justify-content: center;
    font-family: fantasy;
    flex-grow: 1;
}

.welcome_text {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image_1,
.image_2,
.image_3,
.image_4 {
    display: flex;
    border: 2px solid black;
    margin-left: 20px;
    border-radius: 15px;
}
.TDM,
.TDFR, 
.TDC,
.sexy_cat {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.cake_title {
    display: flex;
    justify-content: space-around;

}

.tdc,
.tdfr,
.tdM,
.tdDdL {
    display: flex;
    position: relative;
    right: -20px;
    width: 20%;
    height: 20%;
    justify-content: center;
    font-size: small;
    color: brown;
    border: 2px solid red;
    
}



























