body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

@font-face {
    font-family: myBrownie;
    src: url(fonts/BrownieCake.otf);
}

@font-face {
    font-family: forIntro;
    src: url(fonts/intro\(sausagecheese\).ttf);
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    font-weight: 500;
    font-size: 5em;
    text-decoration: underline;
    font-style: italic;
    font-family: myBrownie;
}

.intro {
    display: flex;
    align-items: center;
    color: goldenrod;
    font-family: forIntro;
    font-size: 25px;
}

.descripcion_marca {
    display: flex;
    justify-self: center;
    color: black;
    border: 2px solid red;
    width: 90%;
    height: 150px;
    margin-top: -30px;
}

#subtitulo_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    font-weight: 400;
    font-size: 2em;
    text-decoration: underline;
    font-style: italic;
    font-family: myBrownie;
}

.tortas {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.TM,
.TC,
.TFR,
.T3L {
    width: 150px;
    height: 150px;
    border: 5px double goldenrod;
}

.TM img {
    width: 100%;
    height: 100%;
}

.TC img {
    width: 100%;
    height: 100%;
}

.TFR img {
    width: 100%;
    height: 100%;
}

.T3L img {
    width: 100%;
    height: 100%;
}

#subtitulo_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    font-weight: 400;
    font-size: 2em;
    text-decoration: underline;
    font-style: italic;
    margin-top: 60px;
    font-family: myBrownie;
}

.postres {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.B,
.PC,
.TV,
.P3L {
    width: 150px;
    height: 150px;
    border: 5px double goldenrod;
}

.B img {
    width: 100%;
    height: 100%;
}

.PC img {
    width: 100%;
    height: 100%;
}

.TV img {
    width: 100%;
    height: 100%;
}

.P3L img {
    width: 100%;
    height: 100%;
}























